@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Home Page";
}

<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
    h1
    {
        text-align:center
    }
</style>
<a href="/Home/Menu">
    <img src="~/images/allerlei/logo.png" class="centered">
</a>