
@{
    ViewData["Title"] = "Confirmation";
    String date =DateTime.Today.ToString("d");
}

<p>Thank you for ordering tickets to the race. Your booking was registered on <b>@date</b>. We will send the tickets as soon as possible. </p>

<a href="../Home/Menu">
    <p>Back</p>
</a>



