
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - MotoGP</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @{ var banners = new List<String> { "bannerRaces.jpg", "bannerRiders.jpg", "bannerTeams.jpg", "bannerTickets.jpg" };}
</head>
<body>

    <h1>Order tickets</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>